html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background: linear-gradient(360deg, #ffffff, #04507f);
  color: rgb(0, 226, 192);
}


a {
  text-decoration: none;
  color: inherit;
}

section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
  overflow: hidden;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}
@mixin tablet {
  @media (max-width: 1024px) {
    @content;
  }
}
@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}

#ServicesContent {
  height: auto; // Biarkan tingginya menyesuaikan konten
  min-height: 100vh; // Pastikan tingginya minimal setinggi layar
  overflow: visible; // Pastikan konten yang lebih tidak terpotong
}